.bg-img
{
    height:40em; background-size:cover; width:auto;
    background-image: url('/home/ankit/Desktop/paper-kit-2-angular-master/src/assets/img/formbg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat; 
}