<div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Build your trip</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Destination</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-pin-3"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Destination" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="col-md-6">
                                <label>Trip Start</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-calendar-60"></i></span>
                                    </div>
                                    <input type="date" class="form-control" placeholder="Start Date" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Trip End</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-calendar-60"></i></span>
                                    </div>
                                    <input type="date" class="form-control" placeholder="End Date" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label class="radiolabel" for="radio_1">
                                    <input type="radio" name="radio" id="radio_1" />
                                    &nbsp; I am travelling solo
                                  </label>
                            </div>
                            <div class="col-md-6">
                                <label class="radiolabel" for="radio_1">
                                    <input type="radio" name="radio" id="radio_2" />
                                    &nbsp; I am travelling with someone
                                  </label>
                            </div>
                        </div>
                        <h4> Workplace Address </h4>
                        <div class = "row">
                            <div class="col-md-6">
                                <label>Name of your company</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-shop"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Company Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="email" id="emailref" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" name="companymail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required  ngModel #emailref="ngModel" >
                                    <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)"  class="form-control-feedback">
                                        <div [hidden]="!emailref.errors?.pattern">
                                          Please enter a proper email
                                        </div> 
                                       </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <label>Company Address</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-shop"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Company Address" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Pin Code</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-globe"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Pin Code" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" value="">
                                    Save this address for future
                                    <span class="form-check-sign"></span>
                                  </label>
                                  </div>
                            </div>
                        </div>
                        <h4> Where would you stay? </h4>
                    

                        <div class="row">
                            <div class="col-md-3">
                                <label class="radiolabel" for="radio_1">
                                    <input type="radio" name="radio" id="radio_1" />
                                    &nbsp; With a friend
                                  </label>
                            </div>
                            <div class="col-md-3">
                                <label class="radiolabel" for="radio_1">
                                    <input type="radio" name="radio" id="radio_2" />
                                    &nbsp; With a relative
                                  </label>
                            </div>

                            <div class="col-md-3">
                                <label class="radiolabel" for="radio_1">
                                    <input type="radio" name="radio" id="radio_3" disabled />
                                    &nbsp; Make a suggestion
                                  </label>
                            </div>
                        </div>

                        <div class = "row">
                            <div class="col-md-6">
                                <label>Name of your contact</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Contact's Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" id ="emailref1" name="contactemail" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngModel #emailref1="ngModel"  required>
                                    <div *ngIf="emailref1.errors &&(emailref1.touched || emailref1.dirty)"  class="form-control-feedback">
                                        <div [hidden]="!emailref1.errors?.pattern">
                                          Please enter a proper email
                                        </div> 
                                       </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <label>Contact's Address</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-map-big"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Contact's Address" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Pin Code</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-globe"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Pin Code" (focus)="focus1=true" (blur)="focus1=false" pattern="^[0-9]{5,8}$" name="pinrefer" id="pinref" ngModel #pinref="ngModel">
                                    <div *ngIf="pinref.errors &&(pinref.touched || pinref.dirty)"  class="form-control-feedback">
                                        <div [hidden]="!pinref.errors?.pattern">
                                          Please enter a proper pin code
                                        </div> 
                                       </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Country Code</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-world-2"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="+91" (focus)="focus1=true" (blur)="focus1=false" pattern="(\+\d{1-3})|(\d{1,4})" name="ccrefer" id="ccref" ngModel #ccref="ngModel">
                                    <div *ngIf="ccref.errors &&(ccref.touched || ccref.dirty)"  class="form-control-feedback">
                                        <div [hidden]="!ccref.errors?.pattern">
                                          Invalid Code
                                        </div> 
                                       </div>
                                
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="col-md-9">
                                <label>Phone Number</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-mobile"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Mobile Number" maxlength="10" (focus)="focus1=true" (blur)="focus1=false" pattern="^(\+91[\-\s]?)?[0]?(91)?[789]\d{9}$" name="phone" id="phoneref" ngModel #phoneref="ngModel">
                                    <div *ngIf="phoneref.errors &&(phoneref.touched || phoneref.dirty)"  class="form-control-feedback">
                                        <div [hidden]="!phoneref.errors?.pattern">
                                          Please enter a proper phone number
                                        </div> 
                                       </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" value="">
                                    Save this address for future
                                    <span class="form-check-sign"></span>
                                  </label>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Save Details</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>