<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">At Home Anywhere</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Imagine being at home wherever you go</h2>
                
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <div class="motto text-center">
            <br>

            <button type="button" (click)="onClick(target)" class="btn btn-outline-neutral btn-round"><i class="fa fa-globe"></i>BUILD YOUR TRIP</button>
             </div>
    </div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
       
            <a href="https://nineleaps.com" target="_blank">
                NINELEAPS
            </a>
        </h6>
    </div>
    <div class="main" #target>
        
      <app-basicelements></app-basicelements>
    
    </div>
      </div>
